<%= form_with(model: checklistitem, local: true) do |form| %>
  <% if checklistitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(checklistitem.errors.count, "error") %> prohibited this checklistitem from being saved:</h2>

      <ul>
      <% checklistitem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :checklistitem_name %>
  </div>

  <div class="field">
    <%= form.label :checklist_id %>
    <%= form.number_field :checklist_id, id: :checklistitem_checklist_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
