<p id="notice"><%= notice %></p>

<h1>Checklistitems</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Checklist</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checklistitems.each do |checklistitem| %>
      <tr>
        <td><%= checklistitem.name %></td>
        <td><%= checklistitem.checklist_id %></td>
        <td><%= link_to 'Show', checklistitem %></td>
        <td><%= link_to 'Edit', edit_checklistitem_path(checklistitem) %></td>
        <td><%= link_to 'Destroy', checklistitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Checklistitem', new_checklistitem_path %>
