<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @checklistitem.name %>
</p>

<p>
  <strong>Checklist:</strong>
  <%= @checklistitem.checklist_id %>
</p>

<%= link_to 'Edit', edit_checklistitem_path(@checklistitem) %> |
<%= link_to 'Back', checklistitems_path %>
