<%= form_with(model: sttachment, local: true) do |form| %>
  <% if sttachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sttachment.errors.count, "error") %> prohibited this sttachment from being saved:</h2>

      <ul>
      <% sttachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :sttachment_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
