<p id="notice"><%= notice %></p>

<h1><%= @project.name %></h1>
<%= @project.description %>
<br> <br>

<% @project.boards.first(1).each do |board| %>
  <%= render 'boards/show', board: board %>
<% end %>

<br><br>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
