<p id="notice"><%= notice %></p>

<img src="<%= @link_preview.favicon %>" alt="" style="width: 20px;">
<a href="<%= @link.link %>" target="_blank"><strong><%= @link_preview.title %></strong></a>
<br>
<%= @link_preview.description %>
<br>
<br>
<%= @link_preview.images %>
<br>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
