<p id="notice"><%= notice %></p>
<section class="board">
  <h2 class="boardName"><%= board.name %></h2>
  <section class="columns">
    <% board.columns.each do |column| %>
      <div class="column">
        <h2 class="columnHeading"><%= column.name %></h2>
        <% column.cards.each do |card| %>
          <div class="card">
            <%= link_to card.name, edit_card_path(card.id) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>
</section>

<%= link_to 'Edit', edit_board_path(board) %> |
<%= link_to 'Back', boards_path %>
