<p id="notice"><%= notice %></p>

<h2><%= @board.name %></h2>
<section>
  <% @columns.each do |column| %>
    <%= column.name %>
  <% end %>
</section>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
