<!DOCTYPE html>
<html>
  <head>
    <title>Psycho</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= link_to 'Tasks', root_url %>
      <%= link_to 'Projects', board_projects_url(@board) %>
      <hr>
    <% end %>

    <%= yield :boards_menu %>

    <%= yield %>
  </body>
</html>
